body {
    height: 100%;
}

* {
    transition: all .2s linear;
}


.card {
    height: 250px;
}


.container #img-profile:hover {
cursor: pointer;
}

.alpha .btn:hover :nth-child(1){

    transform: rotate(90deg);
}

.input-group .password1,
.input-group .password2:hover {
    cursor: pointer;
}

/* .input-group .pass {
outline: none;
border: none;
box-shadow: none !important;
border-bottom: .1rem solid rgb(192, 43, 43);
animation: mymove 1s infinite linear;
}

.input-group .pass:target {
    border-bottom: .1rem solid rgb(192, 43, 43);
    animation-timing-function :ease;
}
@keyframes mymove {
   100% {
    border-bottom: .1rem solid rgb(192, 43, 43);
    left: 0px;
    left: 300px;
   } */
  
  /* }  */

  .page-email #page-email {
    width: 300px;
    
  }
  #form-beli .diskon {
    text-decoration: line-through;
  }

  .pagination .active{
    background:  #0d6efd;;
  }